version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 10
    reviewers:
      - "atqp11"
    labels:
      - "dependencies"
      - "security"
    commit-message:
      prefix: "chore(deps)"
    versioning-strategy: increase
    groups:
      development-dependencies:
        dependency-type: "development"
        patterns:
          - "@types/*"
          - "eslint*"
          - "jest*"
          - "typescript"